################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MultimachineWeb/FileContentIndex/edcc46e3-a58c-4b84-b7cc-2d6b3ed5c4e5.vsidx
