################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MultimachineWeb/FileContentIndex/edcc46e3-a58c-4b84-b7cc-2d6b3ed5c4e5.vsidx
/.vs/MultimachineWeb/FileContentIndex/ef8ec013-bf90-4a1c-a160-df498cf5a434.vsidx
/.vs/MultimachineWeb/FileContentIndex/aa46a290-1355-463c-b697-7eeaa81c7ac9.vsidx
